{% extends "cookbook/layout.html"%}

{% block title %}
    Credits
{% endblock %}

{% block main %}
    <div id="recipe">
        <h2 class="gr-heading">Thanks for the assets:</h2>
        <p><a href="https://www.freepik.com/free-vector/baking-seamless-pattern_2869812.htm#query=seamless%20background%20cooking&position=1&from_view=search&track=ais">Background Image by macrovector</a> on Freepik</p>
        <p><a href="https://www.freepik.com/free-vector/cute-kitchen-utensil-doodle-sticker-set-vector_25256082.htm#query=cooking%20utensils&position=19&from_view=search&track=sph">Image for logo by rawpixel.com</a> on Freepik</p>
        <p><a target="_blank" href="https://icons8.com/icon/YOrgWKvUdGE3/menu-squared">Menu Squared</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
        <p><a target="_blank" href="https://icons8.com/icon/23537/close-window">Close Window</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
        <p>Photo for login view by <a href="https://unsplash.com/@calumlewis?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Calum Lewis</a> on <a href="https://unsplash.com/photos/vA1L1jRTM70?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
        <p><a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Kiranshastry - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Kiranshastry - Flaticon</a></p>
    </div>

  
{% endblock %}
