{% extends "cookbook/layout.html"%}

{% block title %}
    Recipes
{% endblock %}

{% block main %}
    <div id="recipes-box">
        <a href="/new"><div class="recipe-card new"></div></a>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
        <div class="recipe-card"></div>
    </div>
{% endblock %}