{% extends "cookbook/layout.html"%}

{% block title %}
    Ingredients
{% endblock %}

{% block main %}
    {% load static %}
    <form action="{% url 'ingredients' %}" method="POST" id="new-ingredient">
        {% csrf_token %}
        <select name="category" class="gr-select">
            <option value="">Select category</option>
            <option value="V">Vegetables</option>
            <option value="SH">Spices and Herbs</option>
            <option value="CP">Cereals and Pulses</option>
            <option value="M">Meat</option>
            <option value="D">Dairy Products</option>
            <option value="F">Fruits</option>
            <option value="S">Seafood</option>
            <option value="SP">Sugar and Sugar Produts</option>
        </select>
        <input name='name' class="gr-input" type="text" autofocus="on" placeholder="New ingredient">
        <button class="gr-btn" type="submit">Add</button>
    </form>
    {% if message %}
        <p class="error-p">{{ message }}</p>
    {% endif %}
    <hr>

{% endblock%}