{% extends "cookbook/layout.html"%}

{% block title %}
    New Recipe
{% endblock %}

{% block main %}

    {% load static %}
  
    <form class="new-form" action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="gr-heading">New recipe here</h2>
        <input class="gr-input" autofocus type="text" name="name" placeholder="Recipe name" {%if name %}value="{{ name }}"{% endif%}>
        {% if message and position == 1 %}
            <p class="error-p">{{ message }}</p>
        {% endif %}
        <div class="img-input">
            <p>Drag & Drop image here or <span class="browse">Browse</span></p>
            <input type="file" name="image" class="file" accept="image/png, image/jpeg, image/jpg">
        </div>
        <div class="img-container">
            <img src="{% static 'cookbook/noimage.jpg' %}" alt="Recipe image">
        </div>
    
        <div class="multiselect-block">
            <label for="select-1" class="multiselect" data-opened="False">Ingredients</label>
            <select name="ing" id="select-1" class="ing-select" multiple>
                {% for ing in ingredients %}
                    <option class="mult-option" style="--color: {{ ing.category }};" data-color="{{ ing.category }}" 
                    {% if ing.name in current_ing %} selected {% endif %}>{{ ing.name }}</option>
                {% endfor%}
            </select>
        </div>  

        <select name="type" class="gr-select">
            {% if cur_type == 'Select dish type' %}
                <option selected>Select dish type</option>
            {% endif %}
            {% for type in types %}
                <option {% if type == cur_type %} selected {% endif %}>{{ type }}</option>
            {% endfor %}
        </select>

        {% if message and position == 2 %}
            <p class="error-p">{{ message }}</p>
        {% endif %}

        <input class="gr-input" autofocus type="number" min="1" step="1" name="servings" placeholder="Number of servings" {%if serv %}value="{{ serv }}" {% else %} value="1" {% endif%}>
        {% if message and position == 3  %}
            <p class="error-p">{{ message }}</p>
        {% endif %}

        <textarea class="gr-textarea" name="instruction" placeholder="Instruction" rows=6 >{%if inst %} {{ inst }} {% endif%}</textarea>
        {% if message and position == 4  %}
            <p class="error-p">{{ message }}</p>
        {% endif %}

        <input class="gr-btn" type="submit" value="Save recipe">
    </form>
   
    <script src="{% static 'cookbook/new.js' %}"></script>

{% endblock %}