{% extends "cookbook/layout.html"%}

{% block title %}
    New Recipe
{% endblock %}

{% block main %}
    
    <form class="new-form">
        <h2 class="gr-heading">New recipe here</h2>
        <input class="gr-input" autofocus type="text" name="Name" placeholder="Recipe name">
        <div>
            Photo here 
        </div>
        <select>
            <option>Avacado</option>
            <option>Meat</option>
            <option>Tomato</option>
        </select>

        <select>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
        </select>
        <input class="gr-input" autofocus type="number" name="servings" placeholder="Number of servings">
        <p>Preparation time</p>
        <p>Cooking time</p>
        <input class="gr-input" autofocus type="text" name="instruction" placeholder="Instruction">
        <input class="gr-btn" type="submit" value="Save recipe">
    </form>
{% endblock %}