{% extends "cookbook/layout.html"%}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block main %}

    {% load static %}
    <div id="recipe-page">
        <div id="recipe">
            <h2 style="text-align: center" class="gr-heading">{{ recipe.title }} ({{ recipe.type}})</h2>
    
            <div class="recipe-img-container">
                {% if recipe.image == "" %}
                    <img src="{% static 'cookbook/no-image.png' %}" alt="Recipe image">
                {% else %}
                    <img src="{{ recipe.image.url }}" alt="Recipe image">
                {% endif %}
            </div>

            

            <h2 class="gr-heading">Number of servings: {{ recipe.serv}}</h2>
            <h2 class="gr-heading">Ingredients</h2>
            <div class="recipe-ing-container">
                {% for ing in ingredients %}
                    <div style="background-color: {{ ing.category }}" class="recipe-ing"><p>{{ing.name}}</p></div>
                {% empty %}
                    <h2 class="gr-heading">You have no ingredients</h2>
                {% endfor %}
            </div>
        
            <h2 class="gr-heading">Instruction</h2>
            <textarea class="gr-textarea-text" readonly>{{ recipe.inst }}</textarea>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            t = document.querySelector('.gr-textarea-text')
            t.style.height = "";
            t.style.height = t.scrollHeight + "px"
            
        })
    </script>
    

{% endblock %}