body {
    margin: 0;
    padding: 0;
   
}
#big-login-container {
  display: flex;
  align-content: space-around;
  overflow-y: hidden;

}

#login-container {
   height: 100vh;
}

#login-pic-container {
  height: 100vh;
}

#login-pic {
    object-fit: cover;
    height: 100%;
}
